html {
	font-size: 16px;
}

body {
	font-size: 1em;
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container{
	max-width: 1200px;
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
}

h1,
h2,
h3 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}
h1 {
	font-size: 1.875em;
}
h2 {
	font-size: 1.125em;
}
h3 {
	font-size: .75em;
}

p {
	font-size: .875em;
	line-height: 1.3125em;
    padding: 0 30px;
}

/*The widths are in a percentage!*/
header {
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	width: 100%;
}

header h1 {
	border-bottom: 3px solid #77a466;
	text-align: center;
	margin: 0;
	padding: .5em 0;
	width: 100%;
}
header h1 span {
	color: #77a466;
}

header nav {
	padding: 10px 0;

}
header nav ul {

	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	flex-flow: column;

}
header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: .875em;
	padding: 1em;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}
header nav ul li a{
	text-decoration: none;
	color:#77a466;
}

/*The widths are in a percentage!*/
.top-section,
.bottom-section {
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-flow: column;
	width: 100%;
}

.main-image {
	height: auto;
}
.main-image img {
	width: 100%;
	border-top: 3px solid #77a466;
	border-bottom: 3px solid #77a466;
}

.main-title {
	height: auto;
}
.main-title h2 {
	text-align: left;
	padding: 5px 0;
	color: #77a466;
}
.main-title p {
	padding: 0;
	font-size: 1em;
	line-height: 1.75em;
}

.section-one,
.section-two,
.section-three {
	height: auto;
	width: 100%;
	border-top: 1px solid #eee;
}



.section-one h3,
.section-two h3,
.section-three h3 {
	padding: 10px 0;
}

.section-one p,
.section-two p,
.section-three p {
	padding: 10px 0;
}

.menu {
	list-style: none;
	padding: 10px 0;
}
.menu li {
	padding: 10px 0;
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 1em;
	line-height: 1.3125em;
}

.address {
	font-size: 1em;
	line-height: 1.5em;
}

/*The widths are in a percentage!*/
footer {
	border-top: 2px solid #eee;
	margin: 0 auto;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}
footer span {
	font-family: 'Galada', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: .875em;
}

@media screen and (min-width: 768px) {
	.bottom-section {
		display: flex;
		flex-flow: row;
	}

	.section-one,
	.section-two,
	.section-three {
		width: 33%;
	}

	.section-one {
		padding-right: 1em;
	}

	.section-two {
		padding: 0 1em;
		border-left: 1px solid #eee;
		border-right: 1px solid #eee;
	}

	.section-three {
		padding-left: 1em;
	}
}

@media screen and (min-width: 1200px) {
	.container {
		width: 100%;
	}

	header {
		display: flex;
		flex-flow: row;
		margin: 2em 0;
	}

	header h1 {
		border: none;
		text-align: left;
	}

	header nav ul {
		display: flex;
		justify-content: space-between;
		flex-flow: row;
	}

	.bottom-section {
		display: flex;
		flex-flow: row;
	}

	.section-one,
	.section-two,
	.section-three {
		width: 33%;
	}

	.section-one {
		padding-right: 1em;
	}

	.section-two {
		padding: 0 1em;
		border-left: 1px solid #eee;
		border-right: 1px solid #eee;
	}

	.section-three {
		padding-left: 1em;
	}

}
